@font-face {
  font-family: 'D-DIN';
  src: url('../fonts/dinRegular/D-DIN.eot');
  src: url('../fonts/dinRegular/D-DIN.woff2') format('woff2'),
       url('../fonts/dinRegular/D-DIN.woff') format('woff'),
       url('../fonts/dinRegular/D-DIN.ttf') format('truetype'),
       url('../fonts/dinRegular/D-DIN.svg#D-DIN') format('svg'),
       url('../fonts/dinRegular/D-DIN.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Light';
  src: url('../fonts/dinLight/DIN-Light.eot');
  src: url('../fonts/dinLight/DIN-Light.woff2') format('woff2'),
       url('../fonts/dinLight/DIN-Light.woff') format('woff'),
       url('../fonts/dinLight/DIN-Light.ttf') format('truetype'),
       url('../fonts/dinLight/DIN-Light.svg#DIN-Light') format('svg'),
       url('../fonts/dinLight/DIN-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #7F99D2;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #E86B6B;
    background-color: transparent;
    text-decoration: underline;
}

/******************************************************************************
                               background
*******************************************************************************/
.fix-bg {
  /* Create the parallax scrolling effect */
    position: fixed;
    z-index:-1;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
#full-bg {
  background-color: #465983;
  height: 100vh;

}

#mid-bg {
  background-color: #5F78B1;
  height: 90%;
  width: 94%;
  margin-top: -95vh;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}


#inner-bg {
  background-color: #465983;
  height: 86.6%;
  width: 92.4%;
  margin-top: -88.4vh;
  margin-left: auto;
  margin-right: auto;
}

/******************************************************************************
                               left fix content
******************************************************************************/
.left-content{

  width: 22%;
  position: fixed;
  font-family: 'D-DIN', Arial, sans-serif;
  color: white;
  margin: 70px auto auto 80px;
}

.left-content .heading h1{
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  /*border: 1px solid red;*/
}
.left-content .heading ul {
  margin-top: 10px;
}
.left-content .heading ul li{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #465983;
  background-color: white;
  border-radius: 300px;
  padding: 3px 8px;
}
.left-content .description{
  margin-top: 40px;
}
.left-content .description .text-block{
  margin-top: 10px;
  /*border: 1px solid red;*/
  font-size: 15px;
  line-height: 18px;
}
.left-content .description .text-block h2{
  font-weight: bold;
  margin-bottom: 7px;
}
.left-content .description .text-block p {
  font-family: 'DIN-Light', Arial, sans-serif;
  opacity: 0.6;
}

/******************************************************************************
                           right scrolling content
*******************************************************************************/
.right-scroll-content {
	width: 57%;
  height:1000px;
  float: right;
  margin-right: 8vw;
}

.main-content {
  overflow: hidden;
  padding-top: 100px;
}

.main-content img{
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.main-content .section {
  margin-bottom: 100px;
  color: white;
}


.main-content .section h1.title {
  font-size: 30px;
  font-family: 'D-DIN', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.main-content .section p.caption {
  font-family: 'DIN-Light', Arial, sans-serif;
  font-weight: lighter;
  opacity: 0.9;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 30px;
}

.section .video{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/******************************************************************************
                         Responsiveness Media Queries
*******************************************************************************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /*.right-scroll-content{
    display: none;
  }*/
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /*.right-scroll-content{
    display: none;
  }*/
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
