@font-face {
  font-family: 'D-DIN';
  src: url('../fonts/dinRegular/D-DIN.eot');
  src: url('../fonts/dinRegular/D-DIN.woff2') format('woff2'),
       url('../fonts/dinRegular/D-DIN.woff') format('woff'),
       url('../fonts/dinRegular/D-DIN.ttf') format('truetype'),
       url('../fonts/dinRegular/D-DIN.svg#D-DIN') format('svg'),
       url('../fonts/dinRegular/D-DIN.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Light';
  src: url('../fonts/dinLight/DIN-Light.eot');
  src: url('../fonts/dinLight/DIN-Light.woff2') format('woff2'),
       url('../fonts/dinLight/DIN-Light.woff') format('woff'),
       url('../fonts/dinLight/DIN-Light.ttf') format('truetype'),
       url('../fonts/dinLight/DIN-Light.svg#DIN-Light') format('svg'),
       url('../fonts/dinLight/DIN-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

/******************************************************************************
                               background
*******************************************************************************/
.fix-bg {
  /* Create the parallax scrolling effect */
    position: fixed;
    z-index:-1;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
#full-bg {
  background-color: #465983;
  height: 100vh;

}

#mid-bg {
  background-color: #5F78B1;
  height: 90%;
  width: 94%;
  margin-top: -95vh;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}


#inner-bg {
  background-color: #465983;
  height: 86.6%;
  width: 92.4%;
  margin-top: -88.4vh;
  margin-left: auto;
  margin-right: auto;
}

/*********************************************
            left fix content
**********************************************/
.right-content{
  border: 1px solid #465983; /*DO NOT DELETE*/
  width: 30%;
}

.right-content-container{
  font-family: 'D-DIN', Arial, sans-serif;
  color: white;
  width: 80%;
  /*border: 1px solid yellow;*/
  margin: 30px auto auto 40px;
}
.right-content .heading h1{
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  /*border: 1px solid red;*/
}
.right-content .heading ul {
  margin-top: 10px;
}
.right-content .heading ul li{
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color:#465983;
  background-color: white;
  border-radius: 300px;
  padding: 3px 8px;
}
.right-content .description{
  margin-top: 40px;
}
.right-content .description .text-block{
  margin-top: 20px;
  /*border: 1px solid red;*/
  font-size: 15px;
  line-height: 18px;
}
.right-content .description .text-block h2{
  font-weight: bold;
  margin-bottom: 7px;
}
.right-content .description .text-block p {
  font-family: 'DIN-Light', Arial, sans-serif;
  opacity: 0.6;
}

/******************************************************************************
                           right scrolling content
*******************************************************************************/
.right-scroll-content {
	width: 57%;
  height:1000px;
  margin-left: 35vw;

}

.main-content {
  overflow: hidden;
  padding-top: 100px;
}

.main-content img{
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
